:root{
  --dot-color: #bbb;
  --bg-grey:#dfdfdf;
  --bg-white:#fff;
  --yellow:#f9a826;
  --text-color: #1a1a1a;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

html{
  display: flex;
  justify-content: center;
}

body{
  max-width: 1500px;
}

.parts{
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: var(--bg-grey);
}

.textContainer1{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: top;
}

.partreversed{
  background-color: var(--bg-white);
}
.text{
  color: var(--text-color);
  width: 672px;
  font-size: 22px;
  margin: 10px 0 0 10px;
  text-align: justify;
}

h1, h2{
  color: var(--text-color);
  text-decoration: underline solid var(--yellow) 4px;
}

h2{
  width: 768px;
  font-size: 35px;
  padding-bottom: 2px;
}

h1{
  font-size: 50px;
  margin-bottom: 48px;
}

.titlerev{
  margin: 0 0 0 50px;
}

.textrev{
  margin: 10px 0 0 60px;
}

.sumContainer{
  height: 40px;
}

.sum{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--yellow);
  width: 140px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  border: solid 2px var(--text-color);
  border-radius: 10px;
  transition: 0.1s;
}

.sum:hover{
  cursor: pointer;
  font-size: 22px;
}

details summary::-webkit-details-marker {
  display:none;
}

details[open] summary ~ * {
  animation: sweep 0.4s ease-in-out;
}

@-webkit-keyframes sweep {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  20%  {opacity: 1; margin-top: 0px}
}

.infoContainer{
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 5px;
}

a{
  text-decoration: underline solid 2px var(--yellow);
  -webkit-text-decoration: underline solid 4px var(--yellow);
}

a>p{
  font-size: 22px;
}

.logo{
  width: 25px;
  height: auto;
  margin: 0 5px 0 5px;
}

#profilepic{
  border: 10px solid var(--yellow);
  border-radius: 50%;
  width: 384px;
  height: auto;
  transition: 0.3s;
}

#profilepic:hover{
  border: 15px solid var(--yellow);
  width: 403px;
}

#img_roof{
  height: auto;
  width: 600px;
  margin-right: 50px;
}

img{
  margin: auto;
}

.slideshow-container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

/* Slideshow container */
.slideshow {
  max-width: 700px;
}

/* Hide the images by default */
.slides{
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--bg-white);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--yellow); /*#717171*/
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


footer{
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legal_mentions{
  font-size: 18px;
}

@media only screen
and (max-device-width: 600px)
and (-webkit-min-device-pixel-ratio: 2) {
  .parts{
    height: 1200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10% 10% 10% 10%;
  }

  .partreversed{
    flex-direction: column-reverse;
  }

  h1{
    margin: 0;
    width: 100%;
    font-size: 72px;
  }
  h2{
    margin: 0;
    width: 100%;
    font-size: 70px;
    margin-bottom: 5%;
  }
  .text{
    margin: 0;
    width: 100%;
    font-size: 40px;
    margin-bottom: 5%;
  }


  .sumContainer{
    height: 250px;
  }

  .sum{
    width: 250px;
    height: 60px;
    border: solid 4px var(--text-color);
  }

  .logo{
    width: 55px;
    height: auto;
  }
  a>p{
    font-size: 40px;
  }


  #profilepic{
    width: 60vw;
    height: auto;
  }

  .slideshow-container{
    margin: 0;
  }

  .slideshow{
    max-width: 100%;
  }

  .prev, .next {
    padding: 16px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 40px;
  }

  .dot{
    height: 20px;
    width: 20px;
  }


  #img_roof{
    width: 100%;
    height: auto;
    margin: 0;
  }

.legal_mentions{
    font-size: 26px;
  }
}

@media only screen
and (min-device-width: 600px)
and (max-device-width: 900px)
and (-webkit-min-device-pixel-ratio: 2){

  body{
    width: 100%;
  }
  .parts{
    padding: 50px;
    height: 350px;
  }
  h2{
    font-size: 28px;
    width: 408px;
  }
  h1{
    font-size: 50px;
    width: 568px;
  }
  .slideshow{
    width: 350px;
  }
  .text{
    font-size: 20px;
    width: 402px;
  }
  .sum{
    width: 150px;
    height: 40px;
    border: solid 2px var(--text-color);
  }

  #profilepic{
    width: 30vw;
    height: auto;
  }

  #img_roof{
    width: 400px;
    height: auto;
  }
  .legal_mentions{
    font-size: 24px;
  }
}


@media only screen
and (min-device-width: 900px)
and (max-device-width: 1200px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  body{
    width: 70%;
  }

  h2{
    font-size: 27px;
    width: 90%;
  }

  .text{
    font-size: 20px;
    width: 90%;
  }

  .parts{
    padding: 5%;
    height: 60vh;
    flex-direction: column;
  }

  .sumContainer{
    height: 250px;
  }

  .sum{
    width: 200px;
    height: 50px;
    border: solid 2px var(--text-color);
  }

  .logo{
    width: 20px;
    height: auto;
  }
  a>p{
    font-size: 20px;
  }


  .partreversed{
    flex-direction: column-reverse;
  }

  .slideshow-container{
    margin: 0;
  }

  .prev, .next {
    padding: 16px;
    color: var(--text-color);
    font-weight: bold;
  }

  #img_roof{
    width: 600px;
    height: auto;
  }

  .legal_mentions{
    font-size: 24px;
  }
}


.legal_parts{
  flex-direction: column;
}
